<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>연산자와 형변환 </title>
    <style>
        .good {color:blue}
        .bad {color:red}

    </style>

</head>
<body>
    <h1>연산자</h1>
    <h2>표현식</h2>
    <p>
        표현식expression : 리터럴(값), 식별자(변수), 연산자, 함수 호출등의 조합을
        의미
    </p>
    <p>
        표현식은 평가evaluate(표현식이 실행되어 결과값 생성)되어 하나의 값을 만듦
    </p>

    <script>
        //10; //리터럴(값) 표현식
        //sum; //식별자(변수) 표현식
        //10 + 20; //연산자 표현식
        //Date(); //함수 표현식
    </script>

    <h2>연산자</h2>
    <p>
        하나 이상의 표현식을 대상으로 산술,할당,비교,논리,타입 연산을 수행해서
        하나의 값을 만드는 기호를 의미
    </p>

    <p>
        할당 연산자 : 오른쪽 피연산자를 왼쪽 피연산자에 대입하는 기호, 보통 '='를
        의미
    </p>

    <p>
        산술 연산자 : 덧셈,뺄셈,곱셈,나눗셈 연산을 수행하는 기호. 그외에도 나머지
        연산자(%), 증감/감소 연산자(++,--), 거듭제곱(**)등이 있음
    </p>


    <script>
        let x = 10, y = 3;

        document.write(`10 / 3 = ${x / y},
            10 % 3 = ${x % y},
            10 ^ 3 = ${x ** 3}`, '<br>');

        // 증감연산자의 의미 : a++ -> a = a + 1
        // 파이썬에서의 복합 할당연산자 : a += 1 => a = a + 1
        // 증감연산자의 위치에 따라 전치/후치 로 나뉨
        document.write(`10++ = ${x++},
            그후 x = ${x}`,'<br>');
        document.write(`10++ = ${++x},
            그후 x = ${x}`,'<br>');
    </script>
    <p>
        산술 연산자 중 + 는 피연산자 중 하나가 문자열인 경우 문자열을 연결하는
        기능을 수행함
    </p>
    <script>
        document.write(`1 + 2 = ${ 1 + 2 }`, '<br>');
        document.write(`"1" + 2 = ${ "1" + 2 }`, '<br>');
        document.write(`1 + "2" = ${ 1 + "2" }`, '<br>');
        document.write(`"1" + "2" = ${ "1" + "2" }`, '<br>');

        // 긍정, 부정을 나타내는 boolean 형 값을
        // + 연산자와 함께 사용하면 (true)1, (false)0으로 표시
        document.write("1 + true = ", 1 + true, "<br>");
        document.write("false + true = ", false + true, "<br>");
        document.write("false + null = ", false + null, "<br>");
        document.write("true + null = ", true + null, "<br>");
        document.write("false + undefined = ", false + undefined, "<br>");
    </script>
    <p>
        복합 할당연산자 : 할당 연산자와 산술 연산자를 혼합해서 표현식을 간단하게
        작성하는데 사용
    </p>

    <script>
        x = 1;
        x = x + 1;
        document.write("x = x + 1 : ", x, "<br>");

        x = 1;
        x += 1; // syntactic sugar
        // 프로그래밍 코드를 좀 더 sweet하게
        // 작성할 수 있도록 도와주는 문법
        // 더욱 간결하고, 명확한 표현이 가능
        document.write("x += 1 : ", x, "<br>");
    </script>

    <h2>비교연산자</h2>
    <p>좌항과 우항의 피연산자를 비교해서 큰지 작은지 같은지 알아보는 연산자</p>
    <p>결과값은 true 나 false로 반환</p>
    <script>
        y = 10;
        document.write(`10 == '10' : ${10 == '10'}`, '<br>')
        // 자바스크립트에서 == 연산자로 비교시
        // 변수들의 자료형을 일치시키는 암묵적 형변환 발생
        // 비교연산자는 경우에 따라 수많은 부작용 양산 : === 추천!
        document.write(`10 == '10' : ${10 === '10'}`, '<br>')
    </script>
    <h2>논리연산자</h2>
    <p>
        boolean 표현식에 대한 논리합OR(||) 또는 논리곱AND(&&) 또는 부정NOT(!)
        연산을 수행하는 기호
    </p>
    <script>
        // 논리식 평가시 단축식 평가 적용
    document.write("true OR false : ", true || false, "<br>");
    document.write("(true OR false) AND (true OR false) : ",
        (true || false) && (true && true), "<br>");
    document.write("(true OR false) AND (true OR false) : ",
        (true && false) && (true || true), "<br>");
    document.write("true AND false : ", true && false, "<br>");
    document.write("1true AND 0false : ", 1 && 0, "<br>");
    document.write("Not ture : ", ! true, "<br>");
    </script>

    <h2>변수의 자료형 알아보기</h2>
    <p>typeof 연산자를 이용하면 변수나 값의 자료형을 출력함</p>

    <script>
        document.write(`숫자 10의 자료형: ${typeof 10}`, '<br>')
        document.write(`숫자 abc의 자료형: ${typeof 'abc'}`, '<br>')
        document.write(`숫자 undefined의 자료형: ${typeof undefined}`, '<br>')
    </script>
    <h2>자료형 변환</h2>
    <p>
        함수와 연산자에 전달되는 값은 표현식에 적합하게 적절한 자료형으로 변환됨
        (묵시적 형변환)
    </p>

    <p>
        하지만, 상황에 따라 의도를 갖고 원하는 자료형으로 직접 변환해야 하는
        경우도 있음 (명시적 형변환)
    </p>

    <p>어떤 값을 숫자형으로 변환하고 싶다면 Number() 사용</p>
    <p>어떤 값을 문자형으로 변환하고 싶다면 String() 사용</p>
    <p>어떤 값을 불리언형으로 변환하고 싶다면 Boolean() 사용</p>

    <script>
        //나이계산 : 현재년도 - 생년년도 + 1 (연나이)
        // let birthyear = prompt('태어난 년도는?');
        let birthyear = 1999;('태어난 년도는?');
        let crntyear = 2024;
        //let age = crntyear - birthyear + 1;
        let age = crntyear + 1 - birthyear ;

        document.write(`생년년도 : ${birthyear} 이고,
            현재년도 : ${crntyear} 일때,
            나이는 ${age}`,'<br>' );
    </script>
    <h2>자료형 변환</h2>
    <p>
        함수와 연산자에 전달되는 값은 표현식에 적합하게 적절한 자료형으로 변환됨
        (묵시적 형변환)
    </p>

    <p>
        하지만, 상황에 따라 의도를 갖고 원하는 자료형으로 직접 변환해야 하는
        경우도 있음 (명시적 형변환)
    </p>

    <p>어떤 값을 숫자형으로 변환하고 싶다면 Number() 사용</p>
    <p>어떤 값을 문자형으로 변환하고 싶다면 String() 사용</p>
    <p>어떤 값을 불리언형으로 변환하고 싶다면 Boolean() 사용</p>


    <h3>삼항연산자</h3>
    <p>조건문 if ~ eles의 sytantic sugar</p>
    <p>변수 = 조건식 ? 참일때의 값 : 거짓일때의 값</p>

    <script>
        // 평균점수가 60 이상이라면 '합격'
        // 아니면 '불합격' 이라 출력
        let jumsu = prompt('평균점수는?');

        let result = (jumsu >= 60) ?
            "<span class='good'> 합격</span>" :
            "<span class='bad'>: 불합격</span>";

        document.write(`평균점수가 ${jumsu} 일때 결과는 ${result}`, '<br>');
    </script>

    <h3>성적 처리 프로그램 v2</h3>
    <p>이름, 국어, 영어, 수학을 입력받아,
        총점, 평균, 학점을 계산한 뒤 결과 출력</p>

    <script>
        let name = prompt('이름은 ?');
        let kor = Number(prompt('국어 점수는 ?'));
        let eng = Number(prompt('영어 점수는 ?'));
        let mat = Number(prompt('수학 점수는 ?'));
        let tot = kor + eng + mat ;
        let avg = tot / 3 ;
        let hj = (avg >= 90) ? "<span class='good'> 수</span>" :
                 (avg >= 80) ? "<span class='good'>: 우</span>":
                 (avg >= 70) ? "<span class='bad'>: 미</span>":
                 (avg >= 60) ? "<span class='bad'>: 양</span>":
                                "<span class='bad'>'가'</span>";

        document.write(`이름 : ${name}, 국어 : ${kor}, 영어 : ${eng}, 수학 : ${mat}`,'<br>');
        document.write(`총점 : ${tot}, 평균 : ${avg}, 학점 : ${hj}`, '<br>');
    </script>
</body>
</html>