<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>

</head>
<body>
    <h1>JavaScript</h1>
    <ul>
        <li>01 - 개요 [<a href="/js/hello">이동</a>]</li>
        <li>02 - 변수와 자료형 [<a href="/js/type">이동</a>]</li>
        <li>03 - 연산자와 형변환 [<a href="/js/operator">이동</a>]</li>
        <li>04 - 조건문 [<a href="/js/condition">이동</a>]</li>
        <li>05 - 반복문 [<a href="/js/loof">이동</a>]</li>
        <li>06 - 배열 [<a href="/js/array">이동</a>]</li>
        <li>07 - 반복문 [<a href="/js/while">이동</a>]</li>
        <li>08 - 함수 [<a href="/js/function">이동</a>]</li>

    </ul>
</body>
</html>