<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HTML5 레이아웃</title>
</head>
<body>
    <h1>HTMLl5 레이아웃</h1>
    <h2>정의</h2>
    <p>웹 페이지의 구조와 내용을 정의하는 마크업 언어를 의미</p>
    <p>웹 브라우저에 의해 해석되고 사용자에게 표시될 문서의 구조를 정의</p>
    <p>하이퍼텍스트를 이용해서 웹 페이지간의 이동을 가능하게 하는 링크도 생성 가능</p>

    <h2>요소와 태그, 속성</h2>
    <p>태그 : HTML 문서에 사용하는 마크업 구문을 의미</p>
    <p>꺽쇠 괄호에 둘러싸여 있음 - <> </p>
    <p>시작태그와 종료태그로 구성</p>
    <p>요소 : 시작태그,내용,종료태그 모두를 포함한 전체 구조를 의미</p>
    <p>html 문서의 구조적 단위를 지칭</p>
    <p>속성 : 해당 태그에 추가 정보를 제공하거나 동작을 한정하는데 사용</p>
    <p>사용 예 : 태그에 이름을 부여, 링크에 참조위치 지정, 이미지의 보조설명 선언 등등</p>

    <h2>주석</h2>
    <!-- 이것은 주석입니다! -->
    <p>태그나 요소에 대한 설명으로 작성하는 코드</p>
    <p>브라우저에 의해 시각적요소로 나타나지는 않음</p>

    <h2>html 문서 구조</h2>
    <p>doctype</p>
    <p>html</p>
    <p>head</p>
    <p>meta</p>
    <p>title</p>
    <p>body</p>



</body>
</html>