<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>텍스트 관련 태그</title>
</head>
<body>
    <h1>텍스트 관련태그</h1>
    <h2>제목(header) 관련 태그</h2>
    <p>문서 내용에 따라 적절한 제목을 지정하는 것은 중요!</p>
    <P>제목은 h1(큰제목) ~ h6(작은제목) 태그를 사용</P>
    <p>검색엔진 최적화SEO에 중요한 요소로 작용하는 태그</p>
    <hr>
    <h1>큰제목(h1)</h1>
    <h2>큰제목(h2)</h2>
    <h3>중간제목(h3)</h3>
    <h4>중간제목(h4)</h4>
    <h5>작은제목(h5)</h5>
    <h6>작은제목(h6)</h6>

    <h2>문단</h2>
    <p>문단(paragraph) 을 정의할 때 사용</p>
    <p>문단이 정의되면 문단 위,아래 약간의 여백(margin)이 추가됨</p>
    <p>문단 내 텍스트에 적용된 공백이나 줄바꿈은 모두 무시되고 한줄로 출력됨</p>
    <hr>
    <p>멀고 먼 심연의 우주속에서 마치 펭귄이 알을 지키고 있는듯한 모습이 우주망원경에 포착됐다.
        지난 12일(현지시간) 미 항공우주국(NASA)은 제임스 웹 우주망원경이 촬영한 두 은하인 ‘Arp 142’의 모습을 공개했다.

        제임스 웹 우주망원경이 처음으로 지구에 촬영 이미지를 보낸 지 2주년을 기념해 공개한 이 사진은 상호작용하는 두 은하의 모습을 담고있다.
        먼저 펭귄의 눈과 부리가 연상되는 은하는 ‘NGC 2936’으로, 지구에서 무려 3억 2500만 광년 떨어진 바다뱀자리(Hydra)에 위치해있다.
        특히 NGC 2936은 원래 나선형 은하지만, 사진에서 드러나듯 마치 펭귄이나 돌고래같은 기이한 모습을 하고있다.</p>
    <p>
        public static void main(String[] args) {
            System.out.println("Hello, Worlds!!");
        }
    </p>

    <h2>줄 바꿈 (line-break)</h2>
    <p>html 에서는 텍스트에 작성된 줄바꿈은 무시된다고 했음</p>
    <p>만약, 의도적으로 줄바꿈을 적용하고 싶다면 br태그 를 사용해야 함</p>
    <p>단, br태그는 종료태그가 없음</p>
    <p>
        public static void main(String[] args) {<br>
        System.out.println("Hello, Worlds!!");<br>
        }
    </p>

    <h2>수형선 (horizental)</h2>
    <p>컨텐츠의 내용이 바뀔때 내용 환기를 위해 사용하는 구분선을 의미</p>

    <h2>엔티티 참조</h2>
    <p>html에는 특수한 용도를 위해 미리 예약된 문자들이 있음</p>
    <p>이러한 문자들을 일반 텍스트처럼 사용하면
        브라우저는 이것을 다르게 해석할 수도 있음</p>
    <p>따라서, html 예약어를 기존에 사용ㅇ하던 의미대로
    사용하려면 별도로 만들어둔 문자셋(entity)을 이용해야 함</p>
    <p>문자셋은 &amp; 과 &semi; 사이에 문자셋이름 또는
        문자셋 번호 를 이용해서 나타낼 수 있음</p>
    <hr>
    <p>10 &gt; 9 &sol; 100 &lt; 5 </p>
    <P>&copy; &reg; </P>
    <p>1 &nbsp;2 &nbsp; 3</p>

    <h2>웹페이지 레이아웃용 텍스트 생성기</h2>
    <p>로렘lorem 입슘ipsum은 출판이나 그래픽 디자인 부ㅜㄴ야에서
        주로 사용하는 더미(의미없는) 텍스트</p>
    <p>디자인을 위해 자리 표시역할을 담당하는 텍스트들을 의미</p>
    <p>ipsum.com &sol; hanipsum.com </p>

    <h2>텍스트 꾸밈 태그</h2>
    <p>문단 내 테그트들을 다르게 표시해서 강조,환기 효과를 얻기 위해 사용</p>
    <p>텍스트를 단순히 진하게 표시 - bold 태그 사용</p>
    <p>텍스트를 강조의 의미로 진하게 표시 - strng 태그 사용</p>
    <p>텍스트를  단순히 기울여서 표시 - italic 태그 사용</p>
    <p>텍스트를  강조의 의미로 기울여서 표시 - emphasize 태그 사용</p>
    <hr>
    <p>시간은 <b>금이라구</b>, 친구</p>
    <p>시간은 <strong>금이라구</strong>, 친구!!</p>
    <p>시간은 <i>금이라구</i>, 친구!!</p>
    <p>시간은 <em>금이라구</em>, 친구!!</p>

    <hr>
    <p>수식이나 기호에 위첨자를 나타내려면 superscript 태그 사용</p>
    <p>수식이나 기호에 아래첨자를 나타내려면 subscript 태그 사용</p>
    <p>논문에서 사용하는 기호를 나타내려면 latex 을 이용해야 함</p>
    <p>피타고라스 정리  : a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></p>
    <p>상대성 이론 : E =mc<sup>2</sup></p>
    <p>물 : H<sub>2</sub>0, 이산화탄소 : CO<sub>2</sub> </p>

    <hr>
    <p>ins 태그</p>
    <p>del 태그</p>
    <p>mark 태그</p>
    <p><ins>a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></ins>는 수학 역사상 가장 중요한 식 중의 하나로 여겨지고 있다</p>
    <p>이 벽화가 그려진 시기는 <del>청동기</del> 신석기 이다.</p>
    <p><mark>시간은 금이라구, 친구!!</mark></p>

    <hr>
    <p>kbd 태그</p>
    <p>pre 태그</p>
    <p>윈도우를 종료하려면 <kbd>Alt</kbd> +<kbd>F4</kbd>를 누르면 됩니다</p>
    <pre>
    public static void main(String[] args) {
    System.out.println("Hello, Worlds!!");
    }
    </pre>

    <h2>인용</h2>
    <p>짧은 인용은 q 태그를, 긴 인용은 blockqoute 태그를 사용 </p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <q>시간은 금이라구, 친구!!</q>
    </p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <blockquote>시간은 금이라구, 친구!!</blockquote>
    </p>

    <p></p>

</body>
</html>