<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이미지 관련 태그</title>
</head>
<body>
    <h1>이미지 관련 태그</h1>
    <h2>개요</h2>
    <p>2차원 평면 위에 그려진 시각적 요소를 의미</p>
    <p>html에 주로 사용되는 이미지의 종류는 jpg, gif, png등이 있음</p>
    <ul>
        <li>jpg: 적은 용량으로 섬세한 색상과 명암 표현,
            1400만 색상을 사용해서 사진같은 이미지 구현에 주로 사용</li>
        <li>gif: 256 색상만 지원하기 때문 주로 아이콘 같은 단색계열의
            이미지 표현에 사용, 단, 이미지의 배경을 투명으로 만들거나
            여러개의 이미지를 합쳐 애니메이션처럼 만들 수 있음</li>
        <li>png: jpg와 gif의 장점을 따서 만든 이미지 형식,
            섬세한 이미지 표현과, 투명 이미지 작성에 주로 사용,
            jpg와 gif의 저작권 주장에 반발해서 오픈소스형태로 제작됨</li>
    </ul>

    <h2>이미지 나타내기</h2>
    <p>img 태그를 이용해서 html에 이미지를 삽입할 수 있음</p>
    <p>src 속성을 이용해서 삽입하려는 이미지의 경로와 파일을 지정</p>
    <p>html에 삽입할 이미지들은 보통 img 디렉토리에 저장해 둠</p>
    <p>한편, flaticon.com, pixabay.com 등의 무료 이미지 제공
        사이트를 이용하면 다양한 이미지들을 손쉽게 사용할 수 있음</p>
    <p>어떤 이유로 인해 지정한 이미지를 웹 브라우저에 띄우지 못하는 경우,<br>
    alt 속성으로 이미지를 대체할 텍스트를 지정할 수 있음</p>

    <img src="/static/img/totoro.png" alt="totoro" width="300">
    <img src="/static/img/rabbit.png" alt="rabbit" width="300">

    <h2>움직이는 이미지</h2>
    <img src="/static/img/akuma-ragingstorm.gif" alt="아쿠마 필살기">

    <h2>이미지 링크 생성</h2>
    <div><a href="http://aws.amazon.com">아마존 클라우드로 이동</a></div>
    <div><a href="http://aws.amazon.com">
        <img src="/static/img/sun.png" alt="sun.png" width="200"></a></div>

    <h1>비디오 관련 태그</h1>
    <h2>개요</h2>
    <p>디지털화되어 컴퓨터에서 재생하여 볼 수 있는 동영상을 의미</p>
    <p>html5 이전에는 웹 페이지에 비디오를 보여주기 위한
        표준이 없었음, 따라서, 비디오를 삽입하려면 플래시나
        리얼미디어 같은 외부 라이브러리/플러그인에 의존해야 했음</p>
    <p>html5가 발표되면서 video 태그를 이용하여
        웹페이지에 비디오를 삽입할 수 있는 표준화된 방법이 제공됨</p>
    <p>크롬의 경우 muted 속성을 추가해야 자동재생이 활성화됨</p>

    <h2>video 태그 사용하기</h2>
    <p>video 태그로 비디오 파일을 어떻게 재생할지 지정하고,
        source 태그로 재생할 비디오파일의 형식과 이름을 정의함</p>
    <p>특히, source태그의 type속성으로 웹브라우저가
        비디오 파일을 어떻게 재생할지를 알려줘야 함</p>
    <p>video 태그에 controls 속성을 지정하면
        재생관련 제어장치를 표시할 수 있음</p>

    <video autoplay muted loop controls>
        <source src="/static/img/teamwork.mp4" type="video/mp4">
    </video>

    <video autoplay muted loop controls>
        <source src="/static/img/sakura.mp4" type="video/mp4">
    </video>

    <h2>동영상 관련 파일형식</h2>
    <ul>
        <li>mp4 : 인터넷 스트리밍 전용 비디오 파일 포맷,
            mpeg-4 알고리즘을 이용해서 비디오/오디오/텍스트 저장,
            다른 포맷보다 다소 낮은 해상도만 지원,
            주로 유투브,페이스북,인스타그램,트위터등에 사용</li>
        <li>ogv : Xiph 재단에 의해 특허권으로 보호되지 않는
            개방형 공개 멀티미디어 파일 형식,
            mp4에 비해 덜 알려진 비디오 파일 포맷</li>
        <li>webm : 구글 주도의 개방형 공개 멀티미디어 파일 형식,
            주로 유투브에 많이 사용되지만 mp4에 비해
            다소 고사양 시스템을 요구하는 비디오 파일 포맷,
            vp9 알고리즘을 주력으로 사용하지만 상황에 따라
            h264알고리즘으로 대체되어 사용하기도 함</li>
    </ul>

    <h1>오디오 관련 태그</h1>
    <h2>오디오 관련 파일형식</h2>
    <ul>
        <li>MP3 : Moving Picture Experts Group에 의해 개발되었으며,
            MPEG-1의 오디오 규격으로 개발된 손실 압축형 파일 형식</li>
        <li>WAV : IBM과 Microsoft에 의해 개발되었으며, 개인용 PC에서 오디오를
            재생하기 위한 IBM과 Microsoft의 표준 오디오 파일 형식</li>
        <li>Ogg : Xiph 재단에 의해 개발되었으며, MP3의 대안으로 개발된 특허권으로
            보호되지 않는 개방형 공개 멀티미디어 파일 형식</li>;
    </ul>

    <audio autoplay loop muted controls>
        <source src="/static/audio/BreadBarberEndingTitle.mp3"
                type="audio/mp3">
    </audio>


</body>
</html>