<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>폼 관련 태그</title>
</head>
<body>
    <h1>폼 관련 태그</h1>
    <h2>개요</h2>
    <p>html에서 사용자의 정보를 입력받아
        서버로 전송하려면 form 요소를 사용해야 함</p>
    <p>form 태그를 사용해서
        입력받은 데이터를 서버로 어떻게 보낼것인지 (method),
        전송할 데이터의 유형은 무엇인지 (enctype),
        전송된 데이터는 서버에서 누가 처리할 지 (action)등을
        지정해야 함</p>

    <h2>입력받은 데이터 서버로 보내기</h2>
    <ul>
        <li>get방식은 url에 질의문자열querystring 형태로
            데이터를 작성해서 전송함. 따라서, 입력한 데이터가 그대로 노출.
            또한, 전송할 수 있는 데이터의 크기가 제한적임. 중요도가 낮은
            정보를 입력 폼없이 임의로 전달시 주로 사용</li>

        <li>post방식은 데이터를 http header에 별도로 작성해서 전송함.
            따라서, 데이터가 외부로 보이지 않으며,
            전송할 수 있는 데이터의 크기가 무제한.
            또한, 텍스트와 바이너리를 같이 보낼수 있어서 보안성과 활용성이 좋음</li>
    </ul>
    <h2>질의문자열querystring</h2>
    <p>클라이언트가 서버로 정보를 요청시
        정보전달 양식에 의해 작성된 문자열을 의미.</p>
    <p>질의문자열의 시작은 ?로, 전달하려는 데이터는 키와 값의 형태로 작성하며,
        각각의 정보는 &로 연결함</p>
    <p>영문자,숫자,일부특수문자는 그대로 전송되지만,
        그외 나머지는 %와 16진수코드로 인코딩된 문자로 변환되어 전송됨
        (예: 수지는 %EC%88%98%EC%A7%80로 인코딩됨 - urlencoder.org)</p>

    <h3>get 방식의 폼</h3>
    <form name="getfrm" method="get">
        <div>
            <label for="uid1">아이디 :</label> <!--장애인들을 위해 코드를 정확하게 입력해줘야함-->
            <input type="text" name="userid" id="uid1"></div> <!-- id(중복x고유해야함)=디자인적인요소를 다루기위해사용 name=클라이언트에서 서버로 넘어갈떄 사용 /ex)변수명-->
        <div>
            <label for="pwd1">비밀번호 :</label>
            <input type="password" name="passwd" id="pwd1"></div>
        <div><button type="submit">로그인하기</button></div>
    </form>

    <h3>post 방식의 폼</h3>
    <form name="postfrm" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <label for="uid2">아이디 :</label> <!--장애인들을 위해 코드를 정확하게 입력해줘야함-->
            <input type="text" name="userid" id="uid2"></div> <!-- id(중복x고유해야함)=디자인적인요소를 다루기위해사용 name=클라이언트에서 서버로 넘어갈떄 사용 /ex)변수명-->
        <div>
            <label for="pwd2">비밀번호 :</label>
            <input type="password" name="passwd" id="pwd2"></div>
        <div><button type="submit">로그인하기</button></div>
    </form>


    <h2>전송데이터 유형</h2>
    <p>enctype 속성으로 전송 데이터의 유형을 지정할 수 있음</p>
    <p>텍스트 데이터 전송시 enctype은 생략가능</p>
    <p>텍스트와 바이너리 데이터 전송시 multipart/form-data로 설정</p>

    <h2>데이터 처리 주체(handler) 지정</h2>
    <p>action속성에는 전송된 데이터들을 서버의 어떤 프로그램이
        맡아 처리할 것인지 지정</p>

    <h3>핸들러가 지정된 폼</h3>
    <form> name="postfrm" method="post" action="/htmlformroc"/html.form">
        <div>
            <label for="uid2">아이디 :</label> <!--장애인들을 위해 코드를 정확하게 입력해줘야함-->
            <input type="text" name="userid" id="uid2"></div> <!-- id(중복x고유해야함)=디자인적인요소를 다루기위해사용 name=클라이언트에서 서버로 넘어갈떄 사용 /ex)변수명-->
        <div>
            <label for="pwd2">비밀번호 :</label>
            <input type="password" name="passwd" id="pwd2"></div>
        <div><button type="submit">로그인하기</button></div>
    </form>

    <h2>다양한 input 태그</h2>
    <p>html5에서는 다양한 input요소 태그를 사용해서
        사용자로부터 데이터를 입력받을 수 있음</p>
    <ul>
        <li>text : 한줄 텍스트를 입력받음</li>
        <li>password : 한줄 비밀 텍스트를 입력받음,
            입력시 별표문자가 화면에 표시</li>
        <li>radio : 여러 선택사항 중 하나만 입력받음</li>
        <li>checkbox : 여러 선택사항 중 다수를 입력받음</li>
        <li>select : 여러 선택사항 중 하나만 입력받음,
            단, 선택할 수 있는 사항은 드롭다운 메뉴로 보여짐</li>
        <li>textarea : 여러 줄 텍스트를 입력받음</li>
        <li>button : 사용자가 클릭할 수 있는 버튼을 표시,
            type속성으로 버튼의 종류를 지정함.
            button은 일반적인 버튼을 표시, 보통 자바스크립트와 함께 사용
            submit은 입력한 데이터들을 서버로 전송시 사용
            reset은 입력한 데이터들을 모두 지우고 초기화할 때 사용</li>
        <li>file : 텍스트가 아닌 파일을 서버로 전송할때 사용,
            단, enctype이 multipart/form-data로 설정되어야 함
            또한, 서버측에서는 텍스트만 처리하는 방식이 아닌
            다른 방식으로 처리해야 함</li>
        <li>label : 폼 요소에 제목을 작성할때 사용</li>
    </ul>
    <hr>
    <ul>
        <li>number : 숫자입력을 받을수 있는 폼 필드 제공 </li>
        <li>tel : 전화번호 입력을 위한 필드 / 전화번호 형식을 검증하진 않지만
                    숫자와 특수문자를 입력 받을 수 있다</li>
        <li>search : 검색어 입력을 위한 필드 / 기본적으로 검색 기능고 관련된 UI개선(ex:clear 버튼)을 지원</li>
        <li>email : 이메일 주소를 입력하기위한 필드 / 이메일 주소형식을 검증하며, 올바른 이메일형식 입력하지 않고
                        폼 제출시 경고 표시</li>
        <li>url : 웹 주소(URL) 입력을 위한 필드 / URL 형식을 검증하며 , 올바른 URL형식이 아닌 경우 경고 표시</li>
        <li>color :  색상 선택을 위한 필드 / 색상 선택기(컬러 피커)를 제공하여 사용자가 색상을 선택할 수 있음</li>
        <li>range : 범위 값을선택할 수 잇는 슬라이더를 제공 / 최소값,최대값,스텝 값 설정 가능 </li>
        <li>date : 날짜를 선택할 수 있는 필드 / 날짜 선택기를 제공하여 사용자가 날짜 선택 가능 </li>
        <li>time : 시간을 입력할 수 있는 필드 / 시간 선택기를 제공하여 사용자가 시간을 선택할 수 있음 </li>
        <li>datalist : 입력 힐드에 대한 제안 목록을 제공 / input 요소와 함께 사용되며,
                    제안 목록에서 항목을 선택하거나 직접 입력할 수 있다</li>
        <li>meter : 측정된 값을시각적으로 표시하는데 사용 / 범위 내에서 현재 값을 표시하는 메터(측정기)제공,
                    진행상황이나 범위의 비율으르 표시할 수 있음</li>
        <li>progress : 작업의 진행 상황을 시각적으로 표시 / 작업의 완료상태를 표시하는 프레그레스 바를 제공,
                    값의 범위는 0부터 100 까지</li>
    </ul>


    <h2>공통 input 속성</h2>
    <p>value : 폼 요소에 기본값 지정</p>
    <p>readonly : 폼 요소에 입력한 값을 수정하지 못하게 막음</p>
    <p>disabled : 폼 요소가 서버로 전송되지 못하게 막음</p>
    <p>placeholder : 폼 요소내에 레이블을 표시할 수 있게 해 줌</p>
    <p>size, maxlength : 폼 요소의 너비와 입력가능 최대 글자수를 지정</p>
    <p>required : 폼 요소에 값을 반드시 입력해야 하는지 여부 지정</p>

    <hr>
    <form name="form" method="post">
        <div>이름 <input type="text" name="name" required></div>
        <div>아이디 <input type="text" name="userid" required
        minlength="6" maxlength="16"></div>
        <div>교육기관 <input type="text" name="eduorg"
                         value="글로벌아이티" readonly></div>
        <div>나이 <input type="number" name="age" required
                    min="20" max="45"></div>
        <div>성별
            <input type="radio" name="gender" value="male">남
            <input type="radio" name="gender" value="female">여
        </div>
        <div>취미
            <input type="checkbox" name="hobby" value="game">게임
            <input type="checkbox" name="hobby" value="sports">운동
            <input type="checkbox" name="hobby" value="trip">여행
            <input type="checkbox" name="hobby" value="reading">독서
        </div>
        <div>이메일
            <input type="text" name="email1" required>
            <select name="email2">
                <option value="naver.com">naver.com</option>
                <option value="google.com">google.com</option>
                <option value="hotmail.com">hotmail.com</option>
            </select>
        </div>
        <div>개인 사진
            <input type="file" name="photo" accept=".jpg,.png">
        </div>
        <div>자기소개
            <textarea name="intro" cols="45" rows="10"></textarea>
        </div>
        <div><input type="text" name="nick" placeholder="별명"></div>

        <div><button type="submit"> 입력완료</button>
            <button type="reset">다시입력</button> </div>



    </form>

</body>
</html>