<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 1</title>
</head>
<body>
    <div id="wrap">    </div>
    <form method="post">
            <header>
            <img src="/static/img/totoro.png" alt="totoro" width="100">
                <ul>
                    <li><a href="/html/contact">contact</a></li>
                    <li><a href="/html/store locator">store locator</a></li>
                    <li><a href="/html/support">support</a></li>
                    <li><a href="/html/CART">CART</a></li>
                </ul>
            <div><a href="#">login</a> or <a href="#">Create Account</a></div>
            </header>
        <nav>
            <input type="text"> <select name="findtype">
            <option value="Category">Category</option></select> <button type="button" id="fidnbtn">SEARCH</button>
        </nav>

        <main>
            <section>
                <aside>
                    <ul>
                        <li>ALL categories</li>
                        <li>CateGory1</li>
                        <li>CateGory2</li>
                        <li>CateGory3</li>
                        <li>CateGory4</li>
                        <li>CateGory5</li>
                        <li>CateGory6</li>
                    </ul>
                </aside>
                <div id="banner">
                    <p>[ PROMOTIONAL IMAGES ROTATE HERE]</p>
                    <ul><li>1</li><li>2</li><li>3</li><li>4</li></ul>

                </div>


            <table border="1" cellpadding="8">
                <thead>
                <tr><td width="150">ALL categories</td><td width="800" colspan="100" rowspan="100"> [ PROMOTIONAL IMAGES ROTATE HERE]
                    </td></tr>
                <tr><td>CateGory1</td></tr>
                <tr><td>CateGory2</td></tr>
                <tr><td>CateGory3</td></tr>
                <tr><td>CateGory4</td></tr>
                <tr><td>CateGory5</td></tr>
                <tr><td>CateGory6</td></tr>
                </thead>
            </table>
            </section>
            <section>
                <div id="products"><h2>Today's Specials</h2></div>
            <Ul>
                <li><img src="#"><a href="#">product1</a></li>
                <li><img src="#"><a href="#">product2</a></li>
                <li><img src="#"><a href="#">product3</a></li>
                <li><img src="#"><a href="#">product4</a></li>
                <li><img src="#"><a href="#">product5</a></li>
                <li><img src="#"><a href="#">product6</a></li>
            </Ul>
            </section>
        </main>

        <footer>
            <div>
            <ul>
                <li><strong>ABOUT us</strong></li>
                <li>Company</li>
                <li>News</li>
                <li>Jobs</li>
                <li>Policies</li>
                <li>Contact</li>
            </ul>
                <ul>
                    <li><strong>SOCIAL</strong></li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Try our app</li>
                </ul>
                <ul>
                    <li><strong>SERVICE</strong></li>
                    <li>FAQ</li>
                    <li>Live support</li>
                    <li>Site map</li>
                </ul>
            </div>
            <div>Copyright &copy; 2024.hyeok. All Right Reserved.</div>
        </footer>

        </form>

</body>
</html>