<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HTML5</title>
</head>
<body>
    <h1>HTML5</h1>
    <ul>
        <li>01 - HTML 레이아웃 [<a href="/html/layout">이동</a>]</li>
        <li>02 - 텍스트 [<a href="/html/text">이동</a>]</li>
        <li>03 - 링크 [<a href="/html/link">이동</a>]</li>
        <li>04 - 목록 [<a href="/html/list">이동</a>]</li>
        <li>05 - 테이블 [<a href="/html/table">이동</a>]</li>
        <li>06 - 이미지 [<a href="/html/image">이동</a>]</li>
        <li>07 - 폼(입력ui) [<a href="/html/form">이동</a>]</li>
        <li>08 - 회원가입폼 [<a href="/html/joinfrm">이동</a>]</li>
        <li>09 - 시맨틱 [<a href="/html/semantic">이동</a>]</li>
        <li>10 - 프로젝트1 [<a href="/html/project1">이동</a>]</li>
        <li>11 - 프로젝트2 [<a href="/html/project2">이동</a>]</li>
    </ul>
</body>
</html>