<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사원 프로그램</title>
</head>
<body>
    <h1>사원 프로그램</h1>
    <form name ="epmfrm" method="post">
          <div>사원번호 : <input type="text" name="empid"></div>
          <div>  이름  : <input type="text" name="fname"></div>
          <div>  성   : <input type="text" name="lname"></div>
          <div>이메일  : <input type="text" name="email"></div>
          <div>핸드폰  : <input type="text" name="phone"></div>
          <div>입사일  : <input type="text" name="hdate"></div>
          <div>직책    : <input type="text" name="jobid"></div>
          <div>급여    : <input type="text" name="sal"></div>
          <div>수당    : <input type="text" name="comm"></div>
          <div>매니저 번호 : <input type="text" name="mrgid"></div>
          <div>부서 번호   : <input type="text" name="deptid"></div>
          <div><button type ="submit"> 입력완료</button></div>
    </form>
</body>
</html>