<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>emp</title>
</head>
<body>
    <h1>사원 등록 처리결과</h1>
    <p>사원 번호 : {{ emp.empid }}</p>
    <p>이름 : {{ emp.fname }} </p>
    <p>성: {{ emp.lname }} </p>
    <p>이메일 : {{ emp.email }} </p>
    <p>핸드폰 : {{ emp.phone }} </p>
    <p>입사일 : {{ emp.hdate }} </p>
    <p>직책 : {{ emp.jobid }} </p>
    <p>급여 : {{ emp.sal }} </p>
    <p>수당 : {{ emp.comm }} </p>
    <p>매니저 번호: {{ emp.mrgid }} </p>
    <p>직책 번호: {{ emp.deptid }} </p>
</body>
</html>