<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CSS</title>

</head>
<body>
    <h1>CSS</h1>
    <ul>
        <li>01 - CSS 선택자 [<a href="/css/selector">이동</a>]</li>
        <li>02 - CSS 리셋 [<a href="/css/reset">이동</a>]</li>
        <li>03 - CSS 텍스트 [<a href="/css/text">이동</a>]</li>
        <li>04 - CSS 박스 [<a href="/css/box">이동</a>]</li>
        <li>05 - CSS 리스트 [<a href="/css/list">이동</a>]</li>
        <li>06 - CSS 포지션 [<a href="/css/position">이동</a>]</li>
    </ul>
</body>
</html>